.segel {
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
}

.segel-navigation {
  a {
    cursor: pointer;
  }

  input {
    width: 8em;
    text-align: center;
  }
}

.segel-container {
  position: relative;
  border: 2px solid #f0f0f0;
  border-width: 2px 0;
}

.segel-indicator {
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #1a9bfc;
  pointer-events: none;
  transition: left .1s;
}

.segel-ruler {
  ul {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
  }

  li {
    flex: 1;
    position: relative;
    padding: .5rem 0 .6rem .5rem;
    background-color: #f3f3f3;
  }

  li:nth-child(even) {
    background-color: #f8f8f8;

    span {
      display: none;
    }
  }

  // TODO: Base this on container width.
  @media (min-width: 701px) {
    li:nth-child(even) span {
      display: inline;
    }
  }
}

.segel-grid {
  display: flex;
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  li {
    flex: 1;
    background-color: rgba(0, 0, 0, .025);
  }

  li:nth-child(even) {
    background-color: rgba(0, 0, 0, .01);
  }
}

.segel-objects {
  overflow: hidden;
}

.segel-object {
  position: relative;
  padding: .5rem 0;
  border-bottom: 1px solid #e6e6e6;

  .droppable {
    background-color: rgba(0, 0, 0, .05);
  }

  .dragging {
    border: 2px solid rgba(0, 0, 0, .1);
  }
}

.segel-bookings,
.segel-booking {
  position: absolute;
  top: 0;
  bottom: 0;
}

.segel-bookings {
  left: 0;
  right: 0;
  user-select: none;
}

.segel-booking {
  display: block;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 0, 0, .25);
}
